{% extends "base.html" %}
{% load static %}

<title>{% block title %} Home {% endblock %}</title>
{% block body_block %}
<div class="">
    <div class="row mb-5">
        <div class="col-md-6 col-sm-12 col-12 text-left">
            <h1>Its all about Tech!</h1>
            <h4 class="py-3 pr-3 ">Meet Alex...</h4>
            <p class="pb-3 detailed">Alex Okpere is a smart, prolific, full stack web developer with a 
                flair for creating elegant solutions in the least amount of time. His career objective is to 
                make positive and valued impact, serve with high sense of integrity and make the provision of 
                standard and quality services a way of life. A regular attendee of web developer meetups and 
                hackathons, computer science graduate and a tireless web designer/developer based in Lagos, 
                Nigeria. His passion for web development is second to none.
            </p>
            <a class="text-light btn btn-dark" href="{% url 'flexxi:enquiries' %}">About Me</a>
            <button type="button" onclick="msg()"> Date and Time </button>
            <p id="demo" ></p>
        </div>
        <div class="col-md-6 col-sm-12 col-12 ">
            <img src="{% static 'flexxi/images/alexander.jpg' %} " alt="alex" class="img-fluid ">
        </div>
    </div>

    <h1 class="py-3">The Tech Gist</h1>
    <h4>Read about tech, innovations, web design, IT and many more!</h4>
    <div class="row my-3 text-left pb-3">
        {% for post in posts|slice:":3" %}
        <div class="col-md-4 col-sm-12 col-12 pb-5">            
            <div class="hover-effect">
                <img  src=" {% if post.photo %} {{ post.photo.url }} 
                {% else %} {% static 'flexxi/images/one.jpg' %} {% endif %}" class="w-100 img-fluid img-thumbnail" width="800" height="533" >
            </div>           
            <h4 class="pt-3">{{ post.title }}</h4>
            <p class="detailed">{{ post.story|truncatewords:20|linebreaks }} </p>
            <a class="wrap" href="{{post.get_absolute_url }}"><small>continue reading >></small></a>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'flexxi:blog' %}" class="wrap btn btn-dark text-light">Learn whats hot on tech news here</a>
    <div class="row bg-light mt-5">
        <div class="col-md-6 text-left">
            <div class='console-container '><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
         </div>
        <div class="col-md-6 col-sm-12 col-12 p-5">
            <h3 class="font-italic">Join Us at FlexxiDigital Solutions!</h3>
        </div>
    </div>
    <div class="row bg-info p-3 mb-5 text-light text-left">
        <div class="col-md-4 col-sm-12 col-12 pb-5">
            <div class="hover-effect">
                <img src="{% static 'flexxi/images/front.jpg' %} " alt="frontend" class="img-fluid" >
            </div>
            <h4 class="pt-3">Frontend website design</h4>
            <p class="detailed" >Learn HTML, HTML5, Bootstrap, CSS, CSS3, and JS. This training is a practical oriented
                training class.
            </p>
            <a class="text-light wrap" href="{% url 'flexxi:signup' %}"><small>Register</small></a>
        </div>
        <div class="col-md-4 col-sm-12 col-12 pb-5">
            <div class="hover-effect">
                <img src="{% static 'flexxi/images/combination.jpg' %} " alt="combination" class="img-fluid" >
            </div>
            <h4 class="pt-3">Web design & development</h4>
            <p class="detailed" >This is a combination of web design and web development training. 
                Learn how to create responsive HTML/CSS websites from scratch. It is a practical oriented training
            </p>
            <a class="text-light wrap" href="{% url 'flexxi:signup' %}"><small>Register</small></a>
        </div>
        <div class="col-md-4 col-sm-12 col-12 pb-5">
            <div class="hover-effect">
                <img src="{% static 'flexxi/images/back.jpg' %} " alt="backend" class="img-fluid" >
            </div>
            <h4 class="pt-3">Web app development</h4>
            <p class="detailed" > This is backend web development training. It is practical oriented.</p>
            <a class="text-light wrap" href="{% url 'flexxi:signup' %}"><small>Register</small></a>
        </div>
    </div>
    <div class="row my-3 text-left">
        <div class="col-md-6 col-sm-12 col-12 p-5">
            <h2>For Software Solutions?</h2>
            <h2>Please Call:</h2>
            <h2>+2348027349310</h2>
            <p>We would love to see how we can help you achieve your software solutions and IT goals!</p>
            <button type="button" class="btn btn-dark mt-3"><a class="text-light" href="mailto:alex.okpere@gmail.com">Contact Via Email</a></button>
            <div class="row py-5 pl-2">
                <div><a href="https://www.Facebook.com/Alex Okpere/" target="_blank"><img src="{% static 'flexxi/images/fb.png' %} " alt="fb" class="img-fluid m-2"></a></div>
                <div><a href="https://www.twitter.com/alexanderflexxy/" target="_blank"><img src="{% static 'flexxi/images/tw.png' %} " alt="tw" class="img-fluid m-2"></a></div>
                <div><a href="https:/www./instagram.com/saintflexxy/" target="_blank"><img src="{% static 'flexxi/images/instagram.jpg' %} " alt="instagram" class="img-fluid m-2"></a></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12 p-5 embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d31706.382043883772!2d3.246775524950624!3d6.60987602468276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s9%20sam%20ayedun%20close%20ipaja!5e0!3m2!1sen!2sng!4v1637008591090!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <a href="#">Back to top</a>
    </div>
</div>
{% endblock %}